/* MainTitle.module.css */
.mainTitle {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
  color: #344767;
  margin-top: 5rem;
  margin-bottom: 1.8rem;
  /* background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.back {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.back:hover {
  color: #344767;
  cursor: pointer;
}

.arrowBack {
  width: 3rem;
  height: 3rem;
  fill: #e91f63;
}

.separator {
  border-top: 1px solid #d3d3d3;
  margin: 1rem 0;
}
